In [2]:
# DX 601 Week 1 Homework

In [3]:
## Introduction

The purpose of this homework assignment is to give you exposure to basic Python to support your practice with the mathematical concepts of this course.
If you are not taking module 2 consecutively with this module, you may find it helpful to look at the following Jupyter notebook.

* [Python as a Calculator](https://github.com/bu-cds-omds/dx602-examples/blob/main/week01/video_python_as_a_calculator.ipynb). This notebook from module 2 has several examples using Python to calculate simple math expressions.

SyntaxError: invalid syntax (2322501143.py, line 3)

## Instructions

You should replace every instance of "..." below.
These are where you are expected to write code to answer each problem.

Be sure to run each code block after you edit it to make sure it runs as expected.
When you are done, we strongly recommend you run all the code from scratch (Runtime menu -> Restart and Run all) to make sure your current code works for all problems.

If your code raises an exception when run from scratch, it will  interfere with the auto-grader process causing you to lose some or all points for this homework.
Please ask for help in YellowDig or schedule an appointment with a learning facilitator if you get stuck.

### Submission

To submit your homework, take the following steps.

1. Save and commit this notebook.
2. Push your changes to GitHub.
3. Confirm that your changes are visible in GitHub.
4. Delete the codespace to avoid wasting your free quota.

The auto-grading process usually completes within a few minutes of pushing to GitHub, but occasionally can take several minutes to an hour.
If you submit your homework early enough, you may review the auto-grading results and fix any mistakes before the deadline.

## Problems

### Problem 1

In Python, you can save the result of any expression or computation in a variable with an assignment statement.
The following code assigns one to a new variable called `q1`.

In [2]:
q1 = 1

In [3]:
q1

1

In [4]:
Set the variable `p1` to the value 3.1.

SyntaxError: invalid syntax (3109152549.py, line 1)

In [5]:
p1 = 3.1

In [6]:
p1

3.1

In [7]:
### Problem 2

Simple mathematical expressions can be computed easily in Python.
Here are examples of addition and subtraction.

SyntaxError: invalid syntax (3527531837.py, line 3)

In [20]:
1 + 3

4

In [10]:
5 - 2

3

In [ ]:
Multiplication and division operations are represented with the symbols `*` and `/` respectively.

In [8]:
3 * 4

12

In [12]:
8 / 3

2.6666666666666665

In [9]:
The result of any of these expressions can be assigned to a variable.

SyntaxError: invalid syntax (1025499890.py, line 1)

In [11]:
q2 = 5 * 7

In [12]:
q2

35

In [13]:
Set `p2` to the result of 9 divided by 6.

SyntaxError: invalid syntax (834779040.py, line 1)

In [14]:
p2 = 9/6

In [15]:
p2

1.5

### Problem 3

Parenthesis in Python have two uses.
Parenthesis can group operations in a Python expression to show that they should be executed first, and they can be used to call functions.
Here is an example of the first usage.

In [16]:
q3 = (2 + 8) * 3

In [17]:
Set `p3` to the result of the mathematical expression $\frac{2 + 5}{3}$.

SyntaxError: invalid syntax (1370046589.py, line 1)

In [20]:
q3

30

In [21]:
p3 = 7/3

In [22]:
p3

2.3333333333333335

### Problem 4

Exponentiation is a repeated multiplication operator.
Exponentiation is expressed with the mathematical syntax $x^y$ which is read as $x$ to the $y\mathrm{th}$ power.
If $y$ is a whole number, this is the same as $y$ copies of $x$ multiplied together.
For example, $3^5 = 3 * 3 * 3 * 3 * 3$.

Python uses `**` for exponentiation, so the mathematical expression $x^y$ is `x ** y` in Python.

In [23]:
3 ** 5

243

Set `p4` to $2^8$.

In [36]:
p4 = 2 ** 8

In [37]:
p4

256

In [32]:
### Problem 5

Set `p5` to the value $\pi^2$.
The variable `q5` has the value of $\pi$ for your convenience.

SyntaxError: invalid syntax (3279270110.py, line 3)

In [38]:
import math

In [39]:
q5 = math.pi

In [40]:
q5

3.141592653589793

In [41]:
p5 = q5 ** 2

In [42]:
p5

9.869604401089358

In [43]:
### Problem 6

Python uses brackets like `[` and `]` to create lists.
Many examples of statistics next week will use lists for example data.

The following example creates a list `q6` containing values 1, 4 and 6.

SyntaxError: invalid syntax (4063567206.py, line 3)

In [44]:
q6 = [1, 4, 6]

In [45]:
q6

[1, 4, 6]

In [47]:
Assign a list containing the numbers 0, 2 and 3 in that order to `p6`.

SyntaxError: invalid syntax (802638500.py, line 1)

In [48]:
p6 = [0, 2 ,3]

In [49]:
p6

[0, 2, 3]

In [ ]:
### Problem 7

A signature feature of Python is list comprehensions.
A list comprehension can be made taking in an old list, and applying a formula to every entry in the old list, and returning a list with the resulting values.
This will be useful for summation expressions such as $\sum_{i=0}^9 x_i^2$.

The following example creates a list `q7a` with the first 5 prime numbers, and then creates another list `q7b` with the squares of the numbers in `q7a`.
`q7b` is created with a list comprehension.

In [50]:
q7a = [2, 3, 5, 7, 11]

In [51]:
q7a

[2, 3, 5, 7, 11]

In [64]:
q7b = [x**2 for x in q7a]

In [65]:
q7b

[4, 9, 25, 49, 121]

In [60]:
Set `p7` to be a list with values one higher than the corresponding entries in `q7b` using a list comprehension.

SyntaxError: invalid syntax (589347476.py, line 1)

In [66]:
p7 = [x++1 for x in q7b]

In [67]:
p7

[5, 10, 26, 50, 122]

In [68]:
### Problem 8

The Python built-in function `sum` takes in any sequence of values such as a list, and returns the sum of the values in the list.

The following example shows how to calculate the sum of the values in the list `q8a`.

SyntaxError: invalid syntax (3513106486.py, line 3)

In [69]:
q8a = [1, 2, 3, 4, 5]

In [70]:
sum(q8a)

15

In [71]:
Set `p8` to be the sum of the values in `q8b`.

SyntaxError: invalid syntax (719275133.py, line 1)

In [72]:
q8b = [0.4, 6.25, 999, 0.245, 23.5, 31.67, 32.67]

In [75]:
p8 = sum(q8b)

In [76]:
p8

1093.7350000000001

### Problem 9

The Python built-in function `len` returns the length of objects like lists.

The following example checks the length of list `q9a`.

In [77]:
q9a = [8.6, 1.5, 8.6, 0.3, 8.2, 2.5, 6.5, 0.0, 8.4, 7.8]

In [78]:
len(q9a)

10

In [ ]:
Set `p9` to be the length of the list `q9b`.

In [79]:
q9b = [7.0, 3.9, 7.8, 3.7, 5.8, 6.7, 4.8, 3.8]

In [80]:
p9 = len(q9b)

In [81]:
p9

8

In [82]:
### Problem 10

Set `p10` to the sum of the values in `q10`.

SyntaxError: invalid syntax (3654169678.py, line 3)

In [83]:
q10 = [8.0, 0.9, 8.4, 3.5, 9.4, 9.4, 1.8, 2.9, 9.2, 5.1]

In [85]:
p10 = sum(q10)

In [86]:
p10

58.6

In [87]:
### Problem 11

Set `p11` to be the length of `q11`.

SyntaxError: invalid syntax (1524815385.py, line 3)

In [90]:
q11 = [5.2, 9.6, 8.0, 2.4, 0.4, 1.8, 5.5]

In [91]:
p11 = len(q11)

In [92]:
p11

7

In [ ]:
### Problem 12

List comprehensions can be combined with the sum function to implement summation expressions.

In [93]:
q12a = [3, 4, 5, 6, 7]

In [94]:
q12b = sum([x * x for x in q12a])

In [95]:
q12b

135

In [96]:
Set `p12` to be the sum of $x^3$ for x from 2 to 5 (inclusive).

SyntaxError: invalid syntax (2614956556.py, line 1)

In [97]:
q12c = [2, 3, 4, 5]

In [100]:
p12 = sum([x**3 for x in q12c])

In [101]:
p12

224

In [104]:
### Problem 13

We will be using the pandas module to load structured data in this module.

The following example reads the contents of the file "f13a.tsv" and stores it in the variable `q13`.

SyntaxError: invalid syntax (882000349.py, line 3)

In [3]:
# load pandas module and make it accessible as "pd"
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
# read the f13a.tsv as a tab-separated file.
# the sep parameter tells pandas how to parse the file,
# and will be used for most files in this course.
q13 = pd.read_csv("f13a.tsv", sep="\t")

NameError: name 'pd' is not defined

In [4]:
# print out a preview of the data in q11.
# note the column names in the preview.
q13

NameError: name 'q13' is not defined

In [5]:
Use the pandas module to load the file "f13b.tsv" and save it to the variable `p13`.

SyntaxError: invalid syntax (595302513.py, line 1)

In [6]:
# read f13b.tsv and save it as p13, following the example for q13.
p13 = pd.read_csv("f13b.tsv", sep="\t")

NameError: name 'pd' is not defined

In [7]:
p13

NameError: name 'p13' is not defined

In [ ]:
### Problem 14

The code below loads the abalone dataset and saves it in the variable `q14`.
You can look at the preview, or check `q14.columns` to see the column names.

In [8]:
q14 = pd.read_csv("https://raw.githubusercontent.com/bu-cds-omds/dx601-examples/main/data/abalone.tsv", sep="\t")

NameError: name 'pd' is not defined

In [9]:
q14

NameError: name 'q14' is not defined

In [10]:
q14.columns

NameError: name 'q14' is not defined

In [5]:
Set the variable `p14` to be the name of the first column of the abalone dataset.

SyntaxError: invalid syntax (2983291812.py, line 1)

In [6]:
# column names are text data, so use quotes to save them in a variable.
p14 = q14.columns[0]

NameError: name 'q14' is not defined

### Problem 15

Another Python library that we will use in this module is NumPy.
NumPy is best known for its special arrays that make calculations with lots of numbers easy.

The following example converts a small list `q15a` into a NumPy array `q15b`.

In [7]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [8]:
q15a = [1, 3, 8, 6]

In [128]:
q15b = np.array(q15a)

NameError: name 'np' is not defined

In [9]:
q15b

NameError: name 'q15b' is not defined

In [10]:
Set `p15` to be a NumPy array with the same values as the list `q15c`.

SyntaxError: invalid syntax (3306833041.py, line 1)

In [15]:
q15c = [2, 3, 5, 9]

In [16]:
p15 = np.array(q15c)

NameError: name 'np' is not defined

In [18]:
p15

Ellipsis

In [19]:
### Problem 16

Set `p16` to be the sum of the numbers `q16a` and `q16b`.

SyntaxError: invalid syntax (2071717835.py, line 3)

In [28]:
q16a = 1e10

In [29]:
q16a

10000000000.0

In [30]:
q16b = 22 / 7

In [43]:
q16b

3.142857142857143

In [45]:
p16 = q16a + q16b

In [46]:
### Problem 17

Set `p17` to the sum of numbers in `q17`.

SyntaxError: invalid syntax (45977005.py, line 3)

In [48]:
q17 = [9.1, 4.3, 1.7, 2.8, 2.5, 1.5, 1.4, 3.6, 5.8, 2.3]

In [49]:
p17 = sum(q17)

In [50]:
p17

34.99999999999999

In [36]:
### Problem 18

Set `p18` to be a list of all the squares of values in `q18`.

SyntaxError: invalid syntax (3703561368.py, line 3)

In [37]:
q18 = [7.1, 5.9, 8.0, 8.3, 8.1, 0.3, 6.1, 7.0, 7.0, 4.8]

In [39]:
p18 = sum([x**2 for x in q18])

In [51]:
p18

442.06

### Problem 19

Set `p19` to be the sum of the cubes of values in `q19`.

In [52]:
q19 = [4.5, 9.8, 5.7, 5.7, 2.4, 4.7, 2.0, 3.3, 3.5, 4.4]

In [53]:
p19 = sum([x**3 for x in q19])

In [54]:
p19

1692.3460000000002

In [55]:
### Problem 20

Set `p20` to be the contents of file "f20.tsv" after reading it with pandas.

SyntaxError: invalid syntax (1170243936.py, line 3)

In [57]:
p20 = pd.read_csv("f13a.tsv", sep="\t")

NameError: name 'pd' is not defined

In [58]:
p20

NameError: name 'p20' is not defined